/*Filters*/

.grayscale {
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	transition: all 1s ease-in-out;
}

.grayscale:hover{
	-webkit-filter:grayscale(0);
	filter:grayscale(0);
	filter:gray;
}

.blur {
	-webkit-filter:blur(3px);
	filter:blur(3px);
	transition: all 1s ease-in-out;
}

.blur:hover {
	-webkit-filter:blur(0);
	filter:blur(0);
}

.flies {
	position: fixed;
	width: 250px;
	left: 550px;
	z-index: -1;
}

.opacity {
	-webkit-filter: opacity(1);
  	filter: opacity(1);
}

.opacity:hover {
	-webkit-filter: opacity(0.2);
  	filter: opacity(0.2);
  	transition: all 1s ease-in-out;
}

@-webkit-keyframes position {
	0% {
		left:0;
	}
	25% {
		left:200px;
	}
	75% {
		left:400px;
	}
	100% {
		left:800px;
	}
}

keyframes position {
	0% {
		left:0;
	}
	25% {
		left:200px;
	}
	75% {
		left:400px;
	}
	100% {
		left:800px;
	}
}

.move {
	position: fixed;
	bottom: 0;
	-webkit-animation: position .5s infinite alternate;
	animation: position .5s infinite alternate;
}

@-webkit-keyframes bounce {
	0% {
		left:0;
		top:0;
	}
	25% {
		left:200px;
		top: 400px;
	}
	50% {
		left:400px;
		top: 0;
	}
	75% {
		left:800px;
		top:400px;
	}

	100% {
		left: 1000px;
		top: 0;
	}
}

keyframes bounce {
	0% {
		left:0;
		top:0;
	}
	25% {
		left:200px;
		top: 300px;
	}
	50% {
		left:400px;
		top: 0;
	}
	75% {
		left:800px;
		top:300px;
	}

	100% {
		left: 1000px;
		top: 0;
	}
}

.move2 {
	position: fixed;
	bottom: 0;
	-webkit-animation: bounce 1s infinite alternate;
	animation: bounce 1s infinite alternate;
	-webkit-filter: hue-rotate(90deg);
 	filter: hue-rotate(90deg);
}